@mixin flex ($align, $justify, $dir) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $dir;
}
@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}